body {
    padding-top: 0px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
    outline: none;
    resize: none;
}

.nav-pills>li
{
    margin-right:10px;
}

/* styles for validation helpers */
.field-validation-error {
    color: #b94a48;
}

.field-validation-valid {
    display: none;
}

input.input-validation-error {
    border: 1px solid #b94a48;
}

input[type="checkbox"].input-validation-error {
    border: 0 none;
}

.validation-summary-errors, .errorlist, .messages .error {
    color: #b94a48;
}

.validation-summary-valid {
    display: none;
}

.form-generic .form-control {
  position: relative;
  height: auto;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
  padding: 10px;
  font-size: 16px;
  max-width:100%;
}
.form-generic .form-control:focus {
  z-index: 2;
}
.form-generic
{
    position:relative;
}

.messages
{
    list-style:none;
    text-align:center;
    display:none;
}
.messages .success
{
    color:green;
}
.messages .error
{
    display:none;
}
.restrictive-modal
{
    width:100%;
    height:100%;
    z-index:1001;
    position:absolute;
    background-color:rgba(0,0,0,0.5);
    display:none;
    top:0;
    left:0;
    color:white;
}