.status-box
{
    border: 1px solid gray;
    position:relative;
}
.status-box .textbox
{
    outline:none;
    border:1px solid red;
}
.status-box button
{
    z-index:10;
    position:absolute;
    right:0;
    top:0;
    display:none;
}
.status-box:hover button
{
    display:block;
}
.status-box:active button, .status-box:focus button
{
    display:none;
}
.inner-panel ul.list-group li.placeholder
{
    font-style:italic;
    font-size:12px;
    text-align:center;
}
.panel-body
{
    padding:0;
}
.panel-primary .panel-info
{
    margin:5px;
}
.btn-delete
{
    float:right;
}
.panel-primary .panel-heading
{
    padding:2px;
    height:28px;
}

.ui-draggable
{
    cursor:move;
}