################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/QuickScrum/app/jira/JiraIntegration.py
/QuickScrum/app/jira/__pycache__/JiraIntegration.cpython-35.pyc
