{% extends "app/layout.html" %}

{% block content %}
{% load staticfiles %}

<h1>Dashboard</h1>

<div class="table-responsive">
    <table class="table">
        <thead>
          <tr>
            <th>#</th>
            <th>Date</th>
            <th>Status</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>1</td>
            <td>03/03/2016</td>
            <td><a href="{% url 'readstatus' %}">Status Link</a></td>
          </tr>
        </tbody>

    </table>
</div>

{% endblock %}


{% block scripts %}

    {% load staticfiles %}
    <script src="{% static 'app/scripts/jquery.validate.min.js' %}"></script>

{% endblock %}