{% extends "app/layout.html" %}

{% block content %}
{% load static %}

<!-- Custom styles for this template -->
<link rel="stylesheet" type="text/css" href="{% static 'app/content/signin.css' %}" />

<form class="form-signin form-generic well" action="{% url 'jiralogin' %}" method="post">
	{% csrf_token %}

	<h2 class="form-signin-heading">
        <img src="{% static 'app/content/images/icon-jira.png' %}" />
        Please sign in to your Jira account
    </h2>
    
    {% if form.errors %}
    <ul class="messages">
    {% for err in form.non_field_errors %}
        <li class="error">{{err}}</li>
    {% endfor %}
	</ul>
	{% endif %}

    <!--<label for="id_jiraurl" class="sr-only">Jira site url</label>-->
	{#{{ form.jiraurl }}#}

	<label for="id_username" class="sr-only">Username</label>
	{{ form.username }}

	<label for="id_password" class="sr-only">Password</label>
	{{ form.password }}

    {#{{form}}#}

	<!--<div class="checkbox">
		<label>
			<input type="checkbox" id="rememberMe" value="remember-me"> Remember me
		</label>
	</div>-->
	<button class="btn btn-lg btn-primary btn-block" type="submit">Sign in</button>

    {% include 'app/partials/loadingpartial.html' %}
</form>

{% endblock %}


{% block scripts %}

    <script src="{% static 'app/scripts/jquery.validate.min.js' %}"></script>
<script>
    $('form').submit(function (event) {
        $(".restrictive-modal").show();
    });
</script>

{% endblock %}
