{% if user.is_authenticated %}
<form id="logoutForm" action="/logout" method="post" style="display:inline-block">
    {% csrf_token %}
    <ul class="nav nav-pills pull-right">
        <li role="presentation"><span class="navbar-brand" style="padding:10px 15px;">Hello {{ user.username }}!</span></li>
        <li role="presentation"><a href="javascript:document.getElementById('logoutForm').submit()">Log off</a></li>
    </ul>
</form>

{% else %}

<li role="presentation" name="login"><a href="{% url 'login' %}">Sign in</a></li>

{% endif %}
