{% extends "app/layout.html" %}

{% block content %}
{% load static %}

<!-- Custom styles for this template -->
<link rel="stylesheet" type="text/css" href="{% static 'app/content/changepassword.css' %}" />

<form class="form-changepw form-generic well" action="{% url 'password_change' %}" method="post">
	{% csrf_token %}
	<h2 class="form-changepw-heading">
        <img src="{% static 'app/content/images/favicon.ico' %}" width="44" />
        Change Password
    </h2>

    {% if form.errors %}
    <ul class="messages">
    {% for err in form.non_field_errors %}
        <li class="error">{{err}}</li>
    {% endfor %}
	</ul>
	{% endif %}
    
	<label for="id_currentPassword" class="sr-only">Current Password</label>
	{{ form.currentPassword }}
	<label for="id_newPassword" class="sr-only">New Password</label>
	{{ form.newPassword }}
    <label for="id_newPasswordConfirm" class="sr-only">New Password (confirm)</label>
	{{ form.newPasswordConfirm }}

	<button class="btn btn-lg btn-primary btn-block" type="submit">Change Password</button>

    {% include 'app/partials/loadingpartial.html' %}
</form>


{% endblock %}


{% block scripts %}

    <script src="{% static 'app/scripts/jquery.validate.min.js' %}"></script>

{% endblock %}
