{% extends "app/layout.html" %}

{% block content %}
{% load static %}

<h2>Status Submitted on 03/03/2016</h2>
<div class="row">
    <div class="yesterday col-md-4">
	    <h3>What did you do <u>Yesterday</u></h3>
	    <ol class="statuses">
            {% for y in yesterday_list %}
            <li>
                {{y.status_text}}
            </li>
            {% endfor %}
        </ol>
    </div>
    <div class="today col-md-4">
	    <h3>What are you doing <u>Today</u></h3>
        <ol>
            {% for t in today_list %}
            <li>
                {{t.status_text}}
            </li>
            {% endfor %}
        </ol>
    </div>
    <div class="issues col-md-4">
	    <h3>Are you facing any <u>Issues</u>?</h3>
        <ol>
            {% for i in issue_list %}
            <li>
                {{i.status_text}}
            </li>
            {% endfor %}
        </ol>
    </div>
</div>
<br />
<a class="btn btn-lg btn-default" href="{% url 'dashboard' %}">&lt; Back</a>

{% endblock %}