{% extends "app/layout.html" %}

{% block content %}
{% load static %}

<link rel="stylesheet" type="text/css" href="{% static 'app/content/jquery-ui.min.css' %}" />
<!-- Custom styles for this template -->
<link rel="stylesheet" type="text/css" href="{% static 'app/content/status.css' %}" />

<script src="{% static 'app/scripts/jquery-ui.min.js' %}"></script>

<!--<h1 class="ui-widget-header">Jira Issues Assigned to you</h1>
<ul class="row list-unstyled" id="draggablePanelList">-->
{#{% for item in issue_list %}#}
<!--    <li class="col-xs-2 ui-state-default ui-corner-all" data-issueid="{{item.key}}">{{item.fields.summary}}</li>-->
{#{% endfor %}#}
<!--</ul>-->

<form class="form-generic" action="." method="post">
	{% csrf_token %}

    <div class="row">
        <div class="yesterday col-md-3">
	        <h4 class="text-center">What did you do <u>Yesterday</u></h4>
	        <div class="statuses">
                {% include "app/partials/statustextboxpartial.html" with placeholder="Yesterday&#39;s Status" name="yesterday" identifier="1" %}
            </div>
            <button type="button" class="btn btn-default btn-add-more" data-container="Yesterday&#39;s status" data-name="yesterday">+</button>
        </div>

        <div class="today col-md-3">
	        <h4 class="text-center">What are you doing <u>Today</u></h4>
            <div class="statuses">
                {% include "app/partials/statustextboxpartial.html" with placeholder="Today&#39;s Status" name="today" identifier="1" %}
            </div>
            <button type="button" class="btn btn-default btn-add-more" data-container="Today&#39;s status" data-name="today">+</button>
        </div>

        <div class="issues col-md-3">
	        <h4 class="text-center">Are you facing any <u>Issues</u></h4>
            <div class="statuses">
                {% include "app/partials/statustextboxpartial.html" with placeholder="Issue" name="issue" identifier="1" show_droppables=show_droppables %}
            </div>
            <button type="button" class="btn btn-default btn-add-more" data-container="Issues" data-name="issue">+</button>
        </div>
        
        {% if issue_list %}
		<div class='col-md-3'>
			<h4 class="text-center">Jira Issues Assigned to you</h4>
			<div class='panel panel-info panel-jira'>
				<ul class='list-group' id="draggablePanelList">
					{% for item in issue_list %}
					<li class='list-group-item' data-issueid="{{item.key}}">{{item.fields.summary}}</li>
					{% endfor %}
				</ul>
			</div>
		</div>
        {% endif %}

	</div>
    <br /><br />

	<center><button class="btn btn-lg btn-primary" type="submit">Submit</button></center>

	<!--{% if form.errors %}
	<p class="validation-summary-errors">Please enter correct statuses.</p>
	{% endif %}-->

    {% include 'app/partials/loadingpartial.html' %}
</form>

{% endblock %}


{% block scripts %}

    <script src="{% static 'app/scripts/jquery.validate.min.js' %}"></script>
    <script>
        var global_identifier = 1;
        var statustemplate = "{% spaceless %} {% include 'app/partials/statustextboxpartial.html' with placeholder='' name='' %} {% endspaceless %}";
        $(".btn-add-more").click(function(){
            global_identifier ++;
            var container = $(this).data( "container" );
            var name = $(this).data( "name" );
            var sib = $(this).siblings(".statuses").append(statustemplate);
            var textarea = sib.children(":last-child").children('.panel-body').children("textarea");
            textarea.attr("placeholder", container);
            textarea.attr("name", name+"_"+global_identifier);

            var ul = sib.children(":last-child").children('.panel-status-issues').children("ul");
            ul.attr("data-identifier", global_identifier);
            var ulClasses = ul.attr('class').split(' ');
            var updatedUlClasses = [];
            for(var i=0; i<ulClasses.length; i++)
            {
                if(ulClasses[i].indexOf('jira_issue_container_for_') == -1)
                {
                    updatedUlClasses.push(ulClasses[i]);
                }
            }
            ul.removeClass(); // Remove all the existing classes
            ul.addClass(updatedUlClasses.join(' '));
            //ul.removeClass('jira_issue_container_for_');
            ul.addClass('jira_issue_container_for_'+name+"_"+global_identifier);
            registerDeleteHandler();
            registerDroppable();
            updateTabIndices();
        });

        function registerDeleteHandler()
        {
            // Remove all delegated click handlers from all paragraphs
            $(".btn-delete").off('click', "**" );

            $(".btn-delete").on('click', function(){
                var rootDiv = $(this).parents(".statuses");
                var numChildren = rootDiv.children().length;
                if(numChildren > 1)
                {
                    var currentDiv = $(this).parents(".panel-primary");
                    var attachedIssues = currentDiv.children('panel-info ul li');
                    for(var i =0; i < attachedIssues.length; i++)
                    {
                        var gridLi = $("<li class='col-xs-2 ui-state-default ui-corner-all' data-issueid=''></li>");
                        gridLi.text(attachedIssues[i].text());
                        gridLi.data("issueid", attachedIssues[i].data("issueid"));
                        $("#draggablePanelList").append(gridLi);
                    }
                    $(this).parents(".panel-primary").remove();
                }

                updateTabIndices();
            });
        }

        function registerDroppable()
        {
            try
            {
                $(".panel-status-issues ul").droppable( "destroy" );
            }
            catch(err)
            {
                // ignore
            }

            $(".panel-status-issues ul").droppable({
                activeClass: "ui-state-default",
                hoverClass: "ui-state-hover",
                accept: ":not(.ui-sortable-helper)",
                drop: function( event, ui ) {
                    var liName = '';
                    var thisClass = $( this ).attr('class');
                    // Check if class name starts with ...
                    if(thisClass.indexOf("jira_issue_container_for_yesterday") != -1)
                    {
                        // Dropped in Yesterday's Status
                        liName = "jira_issue_for_yesterday";
                    }
                    else if(thisClass.indexOf("jira_issue_container_for_today") != -1)
                    {
                        // Dropped in Yesterday's Status
                        liName = "jira_issue_for_today";
                    }
                    else if(thisClass.indexOf("jira_issue_container_for_issue") != -1)
                    {
                        // Dropped in Yesterday's Status
                        liName = "jira_issue_for_issue";
                    }
                    
                    var hiddentemplate = "<input type='hidden' name='' value='' />";
                    var identifier = $(this).data( "identifier" );
                    liName += "_" + identifier;
                    //$( this ).find( ".placeholder" ).remove();
                    /*$( "<li class='list-group-item'></li>" )
                        .text( ui.draggable.text() )
                        .appendTo( this )
                        //.attr('name',liName)
                        .attr('data-issueid', ui.draggable.data('issueid'));*/
                    $(this).append(ui.draggable.clone().removeAttr('style'));
                    
                    $( hiddentemplate )
                        .attr('name',liName)
                        .appendTo( this )
                        .attr('value', '['+ui.draggable.data('issueid')+']'+ui.draggable.text());

                    ui.draggable.remove();
                    registerDraggable();
                }
            });
        }

        function registerDraggable()
        {
            try
            {
                $( ".panel-status-issues ul.list-group li.list-group-item:not(.placeholder)" ).draggable("destroy");
            }
            catch(err)
            {
                // ignore
            }
            
            try
            {
                $( "#draggablePanelList li" ).draggable( "destroy" );
            }
            catch(err)
            {
                // ignore
            }

            $( ".panel-status-issues ul.list-group li.list-group-item:not(.placeholder)" ).draggable({
                appendTo: "body",
                helper: "original",
                scroll: true,
                cursor: "move",
                stack: ".panel-jira",
                zIndex: 100,
                revert: 'invalid'
            });
            
            $( "#draggablePanelList li" ).draggable({
                appendTo: "body",
                helper: "original",
                scroll: true,
                cursor: "move",
                stack: ".panel-status",
                zIndex: 100,
                revert: 'invalid'
            });
        }

        function updateTabIndices()
        {
            $("textarea").each(function (i) { $(this).attr('tabindex', i + 1); });
        }

        jQuery(function($) {
            var panelList = $('#draggablePanelList');

            $( "#draggablePanelList li" ).draggable({
                appendTo: "body",
                helper: "original",
                scroll: true,
                cursor: "move",
                stack: ".panel-primary",
                zIndex: 100,
                revert: 'invalid'
            });

            $( "#draggablePanelList" ).droppable({
                activeClass: "ui-state-default",
                hoverClass: "ui-state-hover",
                accept: ":not(.ui-sortable-helper)",
                drop: function( event, ui ) {
                    ui.draggable.nextAll("input:eq(0)").remove(); // Remove the hidden input adjacent to the dragged status
                    $(this).append(ui.draggable.clone().removeAttr('style').removeAttr('name'));
                    ui.draggable.remove();
                    registerDraggable();
                }
            });

            registerDroppable();
            updateTabIndices();
        });

    </script>

{% endblock %}
