{% extends "app/layout.html" %}

{% block content %}
{% load static %}

<!-- Custom styles for this template -->
<link rel="stylesheet" type="text/css" href="{% static 'app/content/signin.css' %}" />

<form class="form-signin well form-inline" action="{% url 'teamlogin' %}" method="post">
	{% csrf_token %}

	<h2 class="form-signin-heading">
        Your team's name
    </h2>
	{{ form.name }}
    .{{base_url}}
</form>

{% endblock %}

{% block scripts %}

    <script src="{% static 'app/scripts/jquery.validate.min.js' %}"></script>

{% endblock %}
