{% if user.is_authenticated %}
<form id="logoutForm" action="{% url 'logout' %}" method="post" style="display:inline-block">
    {% csrf_token %}
    <ul class="nav nav-pills pull-right">

        <li role="presentation">
            <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <span class="glyphicon glyphicon-king" aria-hidden="true"></span>  Hello {{ user.first_name }} {{user.last_name}} <span class="caret"></span>
            </button>
            <ul class="dropdown-menu">
                <li>
                    <a href="{% url 'password_change' %}">
                        <span class="glyphicon glyphicon-edit" aria-hidden="true"></span>  Change Password
                    </a>
                </li>
                <li>
                    <a href="javascript:document.getElementById('logoutForm').submit()">
                        <span class="glyphicon glyphicon-log-out" aria-hidden="true"></span>  Log off
                    </a>
                </li>
            </ul>
        </li>
    </ul>
</form>

{% else %}

<li role="presentation" name="login">
    <a href="{% url 'login' %}">
        <span class="glyphicon glyphicon-log-in" aria-hidden="true"></span>  Sign in
    </a>
</li>
<li role="presentation" name="register">
    <a href="{% url 'register' %}">
        <span class="glyphicon glyphicon-registration-mark" aria-hidden="true"></span>  Register
    </a>
</li>

{% endif %}
